.learn {
  z-index: 5;
  border: 1px solid black;
}
.learn:hover {
  background-color: #c7000b !important;
  border-color: #c7000b !important;
}
.learn:hover a:hover {
  color: white !important;
}
.learn2 {
  z-index: 5;
  border: 1px solid black;
}
.learn2:hover {
  background-color: #c7000b !important;
  border-color: #c7000b !important;
}
.learn2:hover a:hover {
  color: white !important;
}
.button {
  width: 100px !important;
}
.tex1::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin-top: 4px;
  background-color: #a10000;
}
.a-pics {
  margin: 15px;
}
.a-pics div {
  overflow: hidden;
}
.a-pics div p {
  left: 20px;
  letter-spacing: 1px;
  transition-duration: 500ms;
}
.a-pics div p .span {
  color: #c5c0c0;
  font-size: 18px;
}
.a-pics div p .span2 {
  font-size: 17px;
}
.a-pics div p .span1 {
  font-size: 17px;
  margin-left: 2px;
  transition-duration: 500ms;
}
.a-pics div p .span1:hover {
  margin-left: 7px;
}
.a-pics .div2 {
  overflow: hidden;
}
.a-pics .div3 {
  overflow: hidden;
}
.tech-div:hover {
  background-color: #c7000b;
  border: 1px solid #c7000b;
  color: white;
}
.box-end {
  background-color: #f8f8f8;
  margin-top: 50px;
  overflow: hidden;
}
.box-end:hover {
  background-color: #f2f2f2;
}
.div-end {
  background-color: #f2f2f2;
  margin-top: 50px;
  overflow: auto;
  box-shadow: inset -10px -30px 20px #f6f9f8;
}
.event1 {
  color: azure;
  background-color: rgba(0, 0, 0, 0.359);
  width: 80px;
  height: 35px;
  padding-left: 17px;
  line-height: 35px;
  font-size: 13px;
  z-index: 10;
}
.overflow {
  height: 250px;
  overflow: hidden;
}
.strong-1 {
  padding-top: 50px;
  letter-spacing: 1px;
}
.span-1 {
  color: #666666;
}
.text {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.842);
}
.text:hover {
  color: #c7000b;
}
.span-mar {
  color: gray;
}
.span-mar:hover {
  color: red;
}
.more {
  margin-top: 50px;
  border: 1px solid black;
}
.end {
  background-color: #f2f2f2;
  margin-top: 50px;
}
.input {
  width: 500px;
  height: 45px;
  color: #787878;
}
.hr {
  height: 1px;
  background-color: rgba(98, 98, 98, 0.145);
  margin: 12px auto 30px auto;
}
.list {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #595757;
  font-size: 15px;
}
.list1 {
  font-weight: 600;
}
.hr2 {
  width: 100%;
  height: 1px;
  background-color: rgba(98, 98, 98, 0.145);
  margin: 20px auto 30px auto;
}
.icons {
  color: rgba(51, 51, 51, 0.71);
}
.icons:hover {
  color: #333333;
}
.icont {
  color: rgba(51, 51, 51, 0.71);
}
.gray {
  background-color: #e6e6e6;
}
.p-end {
  color: #666;
}
.a-end {
  color: #666;
}
