*{
    font-family: "HuaweiSans-Bold", Helvetica, Arial, sans-serif;
}

@media all and (min-width:575px) and (max-width:991px){}
@media all and (min-width:992px) and (max-width:1199px){}
@media all and (min-width:1400px){
    .pic1{
        width: 100%;
    }
   
    .div{
        height: 80px;
        border-bottom:1px solid gray ;
    }
    .tex1{
        font-size: 35px;
        font-weight:580;
    }
    .tex1::after{
        content: "";
        display: block;
        height: 2px;
        width: 60px;
        margin-top:4px;
        background-color:rgb(161, 0, 0);
        margin-left: 70px;
    }
    .learn{
        position: relative;
        z-index: 5;
        bottom:200px;
        width: 180px;
        height:40px;
        margin-left:270px;
        top: -250px;
        text-align: center;
        line-height: 40px;   
        border: 1px solid black;
    }
    .pics{
        /* filter: brightness(90%); */
       /* margin: 30px 0; */
       /* padding-left: 30px;
       margin-top: 30px; */
       /* transform: scale(1); */
       /* margin-top: 50px; */
       /* padding-top: 10px; */
       /* margin: 30px; */
       /* overflow: hidden; */
       /* opacity: 80%; */
    }
    .pics:hover{
        /* transform: scale(1.5); */
        
    }
    
    /* .div-pics{
        width:100%;
        height:400px;
        background-color: rgba(0, 0, 255, 0.283);
        overflow: hidden;
    } */
.a-pics{
    background-color: rgba(255, 0, 255, 0.344);
    margin: 15px;
}
.p1{
    position: relative;
    z-index: 10;
    bottom:100px;
    padding-top:5px;
}
.div1{
    background-color: blue;
    width: 100%;
    height:410px;
    position: relative;
}
.div2{
    background-color:red;
    width: 100%;
    height:411px; 
    position: relative;
}
.div3{
    background-color:green;
    width: 100%;
    height:289px; 
    position: relative;
}
.img-p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size:22px;
    color: white;
    letter-spacing: 1px;
    line-height:35px;
}
.span{
    color: rgb(197, 192, 192);
    font-size: 18px;
}
}