.li-nav {
  display: none;
}
.nav-icon {
  width: calc(180px + 5vw) !important;
}
.learn {
  width: calc(130px + 3vw);
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85%;
  line-height: 4vh;
}
.learn2 {
  width: calc(130px + 3vw);
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 93%;
  line-height: 4vh;
}
.a-learn {
  font-size: calc(10px + 0.5vw);
}
.button {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid white !important;
  border-radius: 100%;
}
.tex1 {
  font-size: calc(18px + 1vw);
}
.tex1::after {
  margin-left: auto;
  margin-right: auto;
}
.pic11 {
  display: none;
}
.a-pics {
  background: #f5f5f5;
  height: calc(100px + 30vw);
}
.div1 {
  height: 400px;
}
.img-p {
  bottom: 0;
  font-size: calc(10px + 1vw);
  line-height: 20px;
  color: black !important;
}
.span {
  display: none;
}
.span1 {
  display: none;
}
.span2 {
  display: none;
}
.div11 {
  height: calc(100px + 32vw);
  background-color: #f5f5f5;
}
.div22 {
  height: calc(100px + 32vw);
  overflow: hidden;
}
.div33 {
  height: calc(100px + 32vw);
}
.div-h {
  display: none;
}
.tech-div {
  display: none;
}
.pic-tech {
  margin-top: 50px;
}
.box-end {
  height: 450px;
}
.div-end {
  height: 550px;
}
.strong-p {
  margin-top: 20px;
}
.strong-1 {
  margin-left: 30px;
  font-size: 17px;
}
.p-1 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
}
.span-1 {
  font-size: 15px;
}
.text {
  font-size: 15px;
  margin-top: 40px;
}
.span-mar {
  font-size: 12px;
}
.more {
  height: 30px;
  line-height: 30px;
  font-size: calc(8px + 1vw);
}
.end {
  height: 540px;
}
.input {
  margin-top: 20px;
  width: 400px;
}
.hr {
  width: 98%;
}
.icons {
  font-size: calc(20px + 1vw);
  margin-left: 15px;
}
.icont {
  font-size: 15px;
}
.gray {
  height: 100px;
  text-align: center;
}
.drawer {
  background-color: #f2f2f2;
}
.back-drawer {
  background-color: #f2f2f2;
}
.insta {
  margin-bottom: 20px;
  margin-top: 40px;
}
.p-end {
  padding-top: 20px;
  font-size: 13px;
  margin-left: 15px;
}
.a-end {
  margin-left: 20px;
  font-size: 13px;
}
.div-new {
  width: 350px;
  height: 35px;
  z-index: 1;
  background-color: #f2f2f2;
  position: absolute;
}
.hide {
  display: none;
}
.home {
  display: none;
}
