@media(min-width:992px){
 html[data-url*="/giv/"] .h1style {
      position: relative;
      height: 597px;
  }
  html[data-url*="/giv/"] .h1style  >img.bg{
      position: absolute;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: auto;
      left: 50%;
      max-width: none;
  }
}
@media(min-width:992px){
  .givindex{
      position: relative;
      height: 597px;
  }
  .givindex >img.bg{
      position: absolute;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: auto;
      left: 50%;
      max-width: none;
  }
  .givindex.content-img-box .content-box .subtitle{
    max-width: 50% !important;
    margin-bottom: 20px;
}
html[data-url*="/giv/"] .h1style.content-img-box .content-box .subtitle{
    max-width: 50% !important; 
    margin-bottom: 20px;
}
}

.grid-box-new .content{
    padding-right: 30px;
    width:100%
}
@media(max-width:991px){
.grid-box-new .content{
    padding-right: 0px;
}
}
@media(max-width:767px){
 
    .grid-box-new [class*="col-"]:first-child >.list-item img{
        box-shadow:none;  
    }
}

html[lang="mn"] .content-box .numbers ul.row{
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 992px){
    html[lang="mn"] .about-timeline .content-box h2{
        top: 50px !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .pvp-tab-box .panel-img-list .col-md-4{
        display: block !important;
      }
}
@media(max-width:991px){
  .page-sec .news-detail-box  .news-detail-content{
       padding-bottom: 60px;
   }
   .all-page + .page-nav{
       bottom: 10px;
   }
}
@media (min-width: 768px) and (max-width: 991px){
    .swiper-component-1 .thumbsslider .swiper-wrapper{
        border: 0 !important;
        justify-content: left !important;
    }
    .swiper-component-1 .thumbsslider .swiper-slide{
        border-bottom: 1px solid #ccc;
        min-height: 33.7px;
    }
    html[lang="zh"] .swiper-component-1 .thumbsslider .swiper-wrapper,
    html[lang="cn"] .swiper-component-1 .thumbsslider .swiper-wrapper{
            justify-content: center !important;
            border-bottom: 1px solid #ccc !important;
    }
    html[lang="zh"] .swiper-component-1 .thumbsslider .swiper-slide,
    html[lang="cn"] .swiper-component-1 .thumbsslider .swiper-slide{
        border-bottom: 0;
    }
    html[lang="zh"] .swiper-component-1 .thumbsslider .swiper-slide.swiper-slide-thumb-active,
    html[lang="cn"] .swiper-component-1 .thumbsslider .swiper-slide.swiper-slide-thumb-active {
        border-bottom: 3px solid #c7000b;
    }
}

.iconsignal-1:before {
    content: "\e673";
  }
  
.icondigital-power-1:before {
content: "\e674";
}

.iconserver-1:before {
content: "\e675";
}